%html
  %head
    %title Fantastic Maps
    %script{ :type=>"text/javascript",:src=>"http://api.maps.yahoo.com/ajaxymap?v=3.8&appid=FiW_hZnV34G3K.L0kYJ2SIS1gFPMTSXRrDrnC.7uBYqEcIh2PnKLQHbfgWbWq6lUTA--"}
    %style{:type=>"text/css"}
      :plain
        #map {
        height: 75%;
        width: 100%;
        }
        function setfocus() {
        document.forms[0].sale_in_lt.select();
        document.forms[0].sale_in_lt.focus();
        }
  %body
    %h1 Fantastic Maps
    %p Work in Progress.
    %a{:href=>'/places'}Mark Your Business
    %br
    %a{:href=>'/area'}Analyze your area
    %span{:style=>'display: block;text-align: right;'}
      %a{:href=>'/area'}Clear Map
    = yield
